.img-container{
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}
.model-s{
  max-height: 100vh;
  height: auto;
  width: 100vw;
  display: flex;
  flex: 1;
  scroll-snap-align: start;
}
