.lg-container{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.img-modal{
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
}
img{
  width: 100%;

}