.hidden{
  display: none;
}
.active{
  position: fixed;
}
.dd-overlay{
width: 100%;
display: flex;
justify-content: flex-end;
align-items: flex-start;
z-index: 2;
}
.dd-menu-container{
  width: 310px;
  height: 100vh;
  background: #fff;
}
.options-menu{
  list-style: none;
  padding-top: 12px;
}
.option-list{
  font-size: 14px;
  font-weight: 700;
  padding: 4px 8px;
  margin: 8px 4px;
  margin-right: 24px;
  margin-left: -12px;
  border-radius: 10px;
  cursor: pointer;
}
.close-btn{ 
  position: relative;
  background: transparent;
  border: 0;
  left: 260px;
  top: 12px;
  padding: 8px;
  border-radius: 5px;
}
.option-list:hover{
  background-color: rgba(0,10,0,0.1);
}
.close-btn:hover{
  background-color: rgba(0,10,0,0.1);
}