.navbar-container{
  width: 100%;
  height: 56px;
  position: fixed;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  color: #171a20;
  background: transparent;
}
.navbar-left{
  display: flex;
  padding-left: 48px;
  padding-right: 96px;
  width: 120px;
  height: 24px;
}
.logo{
  width: 110px;
}
.navbar-center{
  padding: 0 8px

}
.navbar-right{
  padding-right: 32px;
}
.center-list{
  display: flex;
  cursor: pointer;
}
.right-list{
  display: flex;
}
.list-item{
  list-style: none;
  padding: 4px 12px;
  margin: 0 2px;
  font-weight: bold;
  border-radius: 4px;
}
.hover-nav{

  background-color:  rgba(57, 60, 65, 0.2);
}
